{#
# sloan-evans.com Index Template
# -------------------
#
# This template is loaded whenever http://sloan-evans.com is
# requested,
#
#}

{# ----- Import Any Required Macros ----- #}


{# ----- Prepare Data ----- #}


{# ----- Build Page ----- #}

{% include "headers/header.html" with {'pageTitle' : 'Videos - Sloan Evans Website', 'bodyClass': 'videos'} %}

<section class="">
  <iframe width="" height="" src="https://www.youtube.com/embed/XZLOWfffmcQ" frameborder="0" allowfullscreen></iframe>
</section>

{% include "footers/footer.html" %}