<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <div class="social-icons">
          <a href="https://www.instagram.com/sloan.evans/" target="_blank"><img src="img/insta.png" alt="Sloan Evans Instagram"></a>
          <a href="https://twitter.com/sloanevans?lang=en" target="_blank"><img src="img/twitter.png" alt="Sloan Evans Twitter"></a>
          <a href="https://www.youtube.com/channel/UCV7JPe3b7toz18dPQsF2tLQ" target="_blank"><img src="img/youtube.png" alt="Sloan Evans Youtube"></a>
          <a href="https://soundcloud.com/sloanevans" target="_blank"><img src="img/soundcloud.png" alt="Sloan Evans Soundcloud"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="js/vendor/jquery-3.1.1.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="js/vendor/perfect-scrollbar.jquery.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
